:root {
    --primary-color: #fcf7f8;
    --secondary-color: #ced3dc;
    --tertiary-color: #aba9c3;
    --quaternary-color: #275dad;
    --quinary-color: #5b616a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
    padding: 30px 30px;
    background-color: var(--quinary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header nav ul li a:hover {
    background: var(--quaternary-color);
    color: var(--secondary-color);
    border-radius: 20px;
    text-shadow: none;
}
/* end of header */

/* hero section */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.hero-cta {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 1.5vw;
    color: var(--primary-color);
}


/* start about me and photos */
.about {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.about h2 {
    color:black;
    text-align: left;
    width: 20%;
    display: flex;
    border: 1px, black;
}

.about img {
    width: 400px;
    height: auto;
}