:root {
    --primary-color: #fcf7f8;
    --secondary-color: #ced3dc;
    --tertiary-color: #aba9c3;
    --quaternary-color: #275dad;
    --quinary-color: #5b616a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/*utilities */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

.section-title {
    font-size: 30px;
    color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 40%;
    border-right: 3px solid var(--primary-color);
}

.primary-border {
    border-color: var(--quaternary-color);
}

/* header */

header {
    padding: 30px 30px;
    background-color: var(--quinary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header nav ul li a:hover {
    background: var(--quaternary-color);
    color: var(--secondary-color);
    border-radius: 20px;
    text-shadow: none;
}
/* end of header */

/* hero section */
.hero {
    position: relative;
    background-color: var(--quinary-color);
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.hero-cta {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 1.5vw;
    color: var(--primary-color);
}


/* end hero section */


/* start about me and photos */
.container {
    display:flex;
}

.abouts {
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--quinary-color);
}

.about{
    margin: 20px;
    background-color: var(--quinary-color);
    color: var(--primary-color);
    flex: 1;
}

.about p {
    font-size:15px;
    flex-grow:2;
}

/* end of about me */

/*Begining of work */

.works {
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--quinary-color);
}

.work {
    margin: 20px;
    background-color: var(--quinary-color);
    color: var(--primary-color);
    flex: 1;
}

.link-main{

}