:root {
    --primary-color: #fcf7f8;
    --secondary-color: #ced3dc;
    --tertiary-color: #aba9c3;
    --quaternary-color: #275dad;
    --quinary-color: #5b616a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--quinary-color);
}

/*utilities */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

.section-title {
    font-size: 30px;
    color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 20%;
    border-right: 3px solid var(--primary-color);
}

.primary-border {
    border-color: var(--quaternary-color);
}

/* header */

header {
    padding: 30px 30px;
    background-color: var(--quinary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header nav ul li a:hover {
    background: var(--quaternary-color);
    color: var(--secondary-color);
    border-radius: 20px;
    text-shadow: none;
}
/* end of header */

/* hero section */
.hero {
    position: relative;
    background-color: var(--quinary-color);
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.hero-cta {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 1.5vw;
    color: var(--primary-color);
}


/* end hero section */


/* start about me and photos */
.container {
    position: relative;
    text-align: center;
    color: var(--primary-color);
    border:5px solid var(--quaternary-color);
}

.bottom-left {
    position: absolute;
    bottom: 100px;
    left: 30px;
    background-color: var(--quaternary-color)
}

/*.bottom-left p {
    position:absolute;
    bottom:16px;
    left: 16px;
    background-color: var(--quaternary-color);
} */

/* about me */
.about {
    display:inline-flex;
    background-color: var(--quinary-color);
    width:100%;
}

.about-title {
    width:30%;
    text-align: center;
    border-right: 3px solid var(--primary-color);
    margin:0 auto;
    padding:5px;
}

.about-title h2 {
    font-size: 40px;
}
.about-content {
    width:70%;
    margin:10px;
}

.about-content h3 {
    text-align:center;
    font-size:30px;
}
.about-content p {
    text-align:left;
    font-size:20px;
    color: var(--tertiary-color);
    padding: 10px;
}

.about-content ul {
    list-style-type: none;
}


/* end of about me */

/*Begining of work */

.work {
    display:inline-flex;
    background-color: var(--quinary-color);
    width:100%;
}

.work-title {
    width:30%;
    text-align: center;
    border-right: 3px solid var(--primary-color);
    margin:30px auto;
    padding:px;
}

.work-title h2 {
    font-size: 40px;
}
.work-content {
    width:70%;
    margin:10px;
    padding: 30px;
    position:relative;
    flex-direction: column;
}

.work-content h3{
    font-size:30px;
}

.work-content p{
    font-size:20px;

}

.work-content img {
    max-width: 100%;
    max-height: auto;
    border: 3px solid var(--quaternary-color);
    filter:brightness(50%);
}

.work-content img:hover {
    filter:brightness(100%);
}
.first-row {
    width:100%;
    position:relative;
}

.frbl {
    position:absolute;
    bottom:30px;
    left:0px;
    background-color: var(--quaternary-color);
    padding:10px;
}

.second-row {
    display:inline-flex;
    width:100%;
}
.second-row img {
    max-width:100%;
    max-height:auto;
}

.second-row1 {
    width:50%;
    margin:10px;
    position:relative;
}

.second-row2 {
    width:50%;
    margin:10px;
    position:relative;
}

.third-row {
    display:inline-flex;
    width:100%;
}

.third-row1 {
    width:50%;
    margin:10px;
    position: relative;
}

.third-row2 {
    width:50%;
    margin:10px;
    position: relative;
}

.rbl {
    position:absolute;
    bottom:30px;
    left:0px;
    background-color: var(--quaternary-color);
    padding:10px;
}


/* contact me */
.contact {
    display:inline-flex;
    background-color: var(--quinary-color);
    width:100%;
}
.contact-title{
    width:30%;
    text-align: center;
    border-right: 3px solid var(--primary-color);
    margin:0 auto;
    padding:5px;
}

.contact-title h2{
    font-size: 40px;
}

.contact-content {
    width:70%;
    margin:10px;
}
.contact-content h3 {
    text-align:center;
    font-size:30px;
}
.contact-content p {
    text-align:left;
    font-size:20px;
    color: var(--tertiary-color);
    padding: 10px;
}

.contact-content ul {
    list-style-type: none;
}

.contact a {
    text-decoration:none;
    color:var(--primary-color);
}

.contact nav {
    margin:7px 0;
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact nav ul li a {
    padding: 10px;
    font-size:1.55vw;
}

.contact nav ul li a:hover{
    background: var(--primary-color);
    color:var(--secondary-color);
    border-radius:15px;
    text-shadow: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENDS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .about .work .contact {
        flex: 0 70%;
    }
    .contact-info iframe {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }

    .about h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-title .about-content {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .work img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .work-title {
        flex: 100%;
    }

    .work h3,
    .work h4 {
        display: block;
    }

    .first-row
    .second-row1
    .second-row2
    .second-row
    .third-row
    .third-row1
    .third-row2
    .frbl
    .rbl
    .work
    .work-content
    .work-title{
        display: flex;
        width:auto;
        height:auto;
    }
}

@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .header p {
        width: 100%;
    }

    .about {
        flex: 0 100%;
    }

    .contact {
        text-align: center;
    }

    .contact > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }

    .first-row
    .second-row1
    .second-row2
    .second-row
    .third-row
    .third-row1
    .third-row2
    .frbl
    .rbl
    .work
    .work-content
    .work-title{
        flex:100%;
        width:auto;
        height:auto;
    }
}